<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="search-container">
        <img src="{{ url_for('static', filename='subtitle.png') }}" alt="subtitle" class="logo">
        <form action="/results" method="post">
            <input type="text" name="query" class="search-box" placeholder="Enter your search query">
            <input type="submit" value="Search" class="search-button">
        </form>
    </div>
</body>
</html>
