<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h2>Submit Information</h2>
    <form method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="surname">Surname:</label><br>
        <input type="text" id="surname" name="surname" required><br>

        <label for="dob">Date of Birth:</label><br>
        <input type="date" id="dob" name="dob" required><br>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>

        <label for="current_company">Current Company:</label><br>
        <input type="text" id="current_company" name="current_company"><br>

        <label for="experience">Experience (Years):</label><br>
        <input type="number" id="experience" name="experience"><br>

        <label for="institute">Institute:</label><br>
        <input type="text" id="institute" name="institute"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
